.show-details {
    width: 67vw;
    height: 80vh;
    background: rgba(255,255,255, 0.9);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    color: black;
}

.ContentModal {
    display: flex;
    justify-content: space-between;
    display: block;
    margin-left: auto;
    margin-right: 4%;
    margin-top: 4%;
    width: 60%;
}

.ContentModal::-webkit-scrollbar {
    display: none;
}
  
.ContentModal__portrait {
    height: 73%;
    width: 27%;
    left: 3%;
    position: absolute;
    bottom: 12%;
    border-radius: 2%;
}

.ContentModal__description {
    display: flex;
    height: auto;
    width: 95%;
    padding: 15px;
    border-radius: 20px;
    scrollbar-width: thin;
    box-shadow: inset 0 0 5px #000000;
    text-align: justify;
    margin-top: -4%;
    font-size: larger;
}


button{
    background-color: Transparent;
    border: none;
    cursor: pointer;
    font-size: larger;
}
