.haeder{
   width: 100%; 
   cursor: pointer;
   position: fixed;
   display: flex;
   justify-content: center;
   text-transform: uppercase;
   background-color: #1A1A1A;
   font-size: 5vw;
   padding-bottom: 15px;
   box-shadow: 0px 1px 5px whitesmoke;
   color: white;
   z-index: 2;
   font-family: 'Yanone Kaffeesatz', sans-serif;
}

@media (max-width:1000px) {
    .haeder{
        padding-top: 15px;
        font-size: 6.4vw;
    }
}